body {
    font-family: secular one , sans-serif;
    background-color: rgb(102, 104, 105);
}

nav {
    background-color: rgb(102, 104, 105);
}

.media-1{
  background-color: dodgerblue;
}

/*.hero-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/car\ image\ 5.jpg);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}*/


/*ul{
    list-style: none;
}*/
.card1{
    background-image: url(../images/car\ engine.jpg);
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card2{
    background-image: url(../images/oil\ change.jpg);
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card3{
    background-image: url(../images/tire\ change.jpg);
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card4{
    background-image: url(../images/brakes.jpg);
    height: 250px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-1 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/car\ image\ 5.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-2 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/car\ image\ 1.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .parallax-3 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/car\ image\ 16.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-4 {
    /* The image used */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/car\ image\ 17.jpg);
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



.yes {
    margin: 1em;
}


    .speaker-5{
        background-image: url(../images/img4.jpg);
        background-position:center;
        height: 425px;
        width:100%;
        background-repeat: no-repeat;
    }


   
      @media only screen and (max-width: 500px) {
        .map-1 {
          background-color: rgb(235, 15, 118);
          font-size: x-small;
        }
      }
     
    

    @media only screen and (max-width: 1000px) {
        .map-1{
          
            background-color: rgb(235, 15, 118);
          height: 400px;
          width: 400px;
        }
      }

      @media only screen and (max-width: 1000px) {
        .mustang{
          
            font-size: 19px;
        }
      }

      

      .button-1{
        width: 10em;
        height: 5ex;
        background-color: rgb(110, 110, 107);
        border: 2px solid rgb(36, 34, 178);
        border-radius: 10px;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }

      .button-1:hover {
        background-color: rgb(252, 251, 249);
        
    }

    /*.home-1{
        width: 3em;
        height: 5ex;
        /*background-color: rgb(110, 110, 107);
        /*border: 2px solid rgb(36, 34, 178);
        border-radius: 10px;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }

      .home-1:hover {
       
        text-decoration: underline;
        width: 3em;
        height: 5ex;
    }


    .contact-1{
        width: 1em;
        height: 1ex;
        /*background-color: rgb(110, 110, 107);
        /*border: 2px solid rgb(36, 34, 178);
        border-radius: 10px;
        font-weight: bold;
        color: black;
        cursor: pointer;
      }

      .contact-1:hover {
       
        text-decoration: underline;
        width: 3em;
        height: 5ex;
    }*/

    #grad1 {
      height: 200px;
      background-color: red; /* For browsers that do not support gradients */
      background-image: linear-gradient(red, yellow);
    }

    .social-media a :hover{
      color: rgb(10, 73, 245);
    }